
/* Flexbox stuff, product page css styles...for right now.
*/

*{
    box-sizing: border-box;
 }
.images_container{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: left;
    height: 200px; 
    width: 200px; 
}

body {
	font-size: 1.35em;
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	background: #e8e9e9;
	padding-left: 5%;
	padding-right: 5%;
}
.textbox{

    text-align: center;
    padding: 10px;
    box-shadow: 1.5px;
}
/*
.product-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    width: 100%;
  }
*/
header {
    text-align: center;
    background: url('main-page-header-background.jpg') no-repeat top center;
    background-size: cover;
    background-position: center top;
    width: 100%;
    padding-top: 60px;
    line-height: 1.5;
  }

  .product-item{

    
  }
